
/* @import url('https://fonts.googleapis.com/css2?family=Chivo:wght@100;200;300;400;500;700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    scroll-behavior: smooth;
}
/* Underline */
  
  a:hover {
    text-decoration: underline;
  }
  


body{
    background-color: #121212;
}
.logo__img{
    width: 180px;
    
    
}

.nav{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 60px;

}

.nav__list{
    list-style:  none;
    display: flex;
    align-items: center;
}

.right__nav--list{
    margin-left: 20px;
}

.inner__main--nav{
    display: flex;
    align-items: center;
}

.image{
    width: 100%;
    max-height: 980px;
    filter: blur(0); /* Initial blur level set to 0 (no blur) */
    transition: filter 0.1s; 
    
}

.logo{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.nav__link{
    text-decoration: none;
    color: white;
}

.nav__bar{
    width: 100%;
}

/* SIZING AND POSITION FOR TEXT */

h2{
    font-size: 36px;
    color: white;
}

/* verse */
.front{
    text-align: center;
    color: #ccc;
}


.image-section {
    position: relative;
}

.text-overlay {
    color: white !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s; /* Smooth opacity transition */
}
.welcome{
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
            color: white; /* Text color */
             /* Center-align text */
            padding: 30px; 
            /* Add padding for better visibility */
            
            
}

.welcome{
    font-size: 55px;
}
.welcome__font{
    font-size: 24px ;
}

/* Information */
.info{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    /* padding-right: 100px;
    padding-left: 100px; */
}

.story__color{
    
    color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Optional: Center the element itself horizontally */
    border: 0px solid #ccc;
    font-size: 20px; /* Optional: Add a border for visibility */
}
.layout{
    background-color: #1e1d1c;
    display: flex;
    align-items: center;
    line-height: 2;
    padding-left: 5px;
}


.youtube{
    display: flex;
    justify-content:center;
}
.info{
    display: flex;
    flex-direction: column;
}

/* location */
.layout__map{
    background-color: #1d1e1c;
    display: flex;
    line-height: 2;
    
}
.maps{
    display: flex;
    justify-content: center;
    
}
.maps__title{
    padding-top: 20px;
    text-align: center;
}

/* meeting times */

  .meeting__body{
    display: flex;
    text-align: center;
  }
.meeting__body p{
    font-size: 15px;
margin-bottom: 5px;
color: #ccc;
}
.meeting__body h4{
    font-size: 1.6em;
    line-height: 1.2em;
    color: #ccc;
}


  .schedule-table {
    display: flex;
    justify-content: space-around; /* Adjust as needed: space-between, center, etc. */
    flex-wrap: wrap; /* Wrap to the next line if the content overflows */
  }
  
  .sunday__worship,
  .prayer__meetings,
  .life__groups {
    width: 30%; /* Adjust the width of each section */
    padding: 10px;
     /* Optional: Add borders for a table-like appearance */
    margin: 10px; /* Optional: Add spacing between sections */
  }